@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
body {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    user-select: none;
    background: #1D1E22;
}
.main {
    max-width: 70%;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo {
    max-width: 50%;
    min-width: 200px;
    animation: color-rotate 2s linear infinite;
}
@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    width: 60%;
}
nav .btn {
    display: inline-block;
    margin: 0.5em;
    width: 8.25rem;
    padding: 0.5em 0.75em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 1.5rem;
    cursor: not-allowed;
    flex-shrink: 0;
    transition: all 0.1s linear;
}
.btn-left {
    color: #EB844E;
    border: 2px solid #EB844E;
}
.btn-right {
    color: #EE4358;
    border: 2px solid #EE4358;
}
.btn-left:hover,
.btn-left:active,
.btn-left:focus {
    background: #EB844E;
    color: #1D1E22;
}
/*
.btn-right:hover,
.btn-right:active,
.btn-right:focus {
    background: #EE4358;
    color: #1D1E22;
} */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
  }
}
/* main p {
    text-transform: uppercase;
    font-weight: bold;
    color: #A9A9A9;
    margin-top: 50px;
    animation: scale 1s linear infinite alternate;
} */
@keyframes scale {
    from {
        transform: scale(1.25);
    }

    to {
        transform: scale(1);
    }
}
