* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
    background: #1D1E22;
}
.main {
    max-width: 70%;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo {
    max-width: 50%;
    min-width: 200px;
    animation: color-rotate 2s linear infinite alternate;
}
@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    width: 60%;
}
nav button {
    margin: 0.5em;
    width: 8rem;
    border-radius: 1rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 0.75rem;
    cursor: not-allowed;
    flex-shrink: 0;
    transition: all 0.1s linear;
}
button.left {
    background: #F5C0A3;
}
button.right  {
    background: #F6A2AC;
}
/* .left:hover,
.left:active {
    background: #EB844E;
    color: #1D1E22;
}
.right:hover,
.right:active {
    background: #EE4358;
    color: #1D1E22;
} */
main p {
    text-transform: uppercase;
    font-weight: bold;
    color: #A9A9A9;
    margin-top: 50px;
    animation: scale 1s linear infinite alternate;
}
@keyframes scale {
    from {
        transform: scale(1.25);
    }
    to {
        transform: scale(1);
    }
}
